CompileFlags: # Tweak the parse settings
  Compiler: clang
  Add:
    - "-xc"
    - "-I/nix/store/fwh4fxd747m0py3ib3s5abamia9nrf90-glibc-2.39-52-dev/include/"
    - "-I/nix/store/wxxgsgjxbnkkyczgf8lkbfrsqiywm8bi-clang-17.0.6-lib/lib/clang/17/include/"
    - "-I/nix/store/3mmvgb08qy8n6n37mnprf77fnp4rssi9-glibc-2.38-27-dev/include/"
    - "-I/nix/store/3jlclvmii9b6qmpqw9w09cp3zdnngvhk-clang-18.1.8/bin/clanglib/clang/17/include/"
    - "-I/nix/store/8mh0vrd6ll02j61612wz28vvsww1ps1z-glibc-2.39-52/include/"
    - "-I/nix/store/8vbzvmsm0iy931mdm4hk2vza7gsyc4gs-clang-17.0.6-lib/lib/clang/17/include/"
    - "-I/usr/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/allocator/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/generic_sources/header/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/includes/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/generic_sources/header/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/exec/src/arith/"
    - "-I/home/nixos/shcat/vendor/"
    - "-I/home/nixos/shcat/stdme/include/"
    - "-I/home/nixos/shcat/allocator/include/"
    - "-I/home/nixos/shcat/stdme/vendor/"
    - "-I/home/nixos/shcat/stdme/output/include/"
    - "-I/home/nixos/shcat/stdme/generic_sources/header/"
    - "-I/home/nixos/shcat/includes/"
    - "-I/home/nixos/shcat/parser/include"
    - "-I/home/nixos/shcat/output/include/"
    - "-I/home/nixos/shcat/generic_sources/header/"
    - "-I/home/nixos/shcat/exec/src/arith/"
    - "-I/home/maix/school/shcat/vendor/"
    - "-I/home/maix/school/shcat/stdme/include/"
    - "-I/home/maix/school/shcat/allocator/include/"
    - "-I/home/maix/school/shcat/stdme/vendor/"
    - "-I/home/maix/school/shcat/stdme/output/include/"
    - "-I/home/maix/school/shcat/stdme/generic_sources/header/"
    - "-I/home/maix/school/shcat/includes/"
    - "-I/home/maix/school/shcat/output/include/"
    - "-I/home/maix/school/shcat/generic_sources/header/"
    - "-I/home/maix/school/shcat/exec/src/arith/"
    - "-I/home/maix/shcat/vendor/"
    - "-I/home/maix/shcat/stdme/include/"
    - "-I/home/maix/shcat/allocator/include/"
    - "-I/home/maix/shcat/stdme/vendor/"
    - "-I/home/maix/shcat/stdme/output/include/"
    - "-I/home/maix/shcat/stdme/generic_sources/header/"
    - "-I/home/maix/shcat/includes/"
    - "-I/home/maix/shcat/output/include/"
    - "-I/home/maix/shcat/generic_sources/header/"
    - "-I/home/maix/shcat/exec/src/arith/"
    - "-I/home/raphael/Documents/shcat/vendor/"
    - "-I/home/raphael/Documents/shcat/stdme/include/"
    - "-I/home/raphael/Documents/shcat/allocator/include/"
    - "-I/home/raphael/Documents/shcat/stdme/vendor/"
    - "-I/home/raphael/Documents/shcat/stdme/output/include/"
    - "-I/home/raphael/Documents/shcat/stdme/generic_sources/header/"
    - "-I/home/raphael/Documents/shcat/includes/"
    - "-I/home/raphael/Documents/shcat/output/include/"
    - "-I/home/raphael/Documents/shcat/exec/src/arith/"
    - "-I/home/rparodi/Documents/shcat/vendor/"
    - "-I/home/rparodi/Documents/shcat/stdme/include/"
    - "-I/home/rparodi/Documents/shcat/allocator/include/"
    - "-I/home/rparodi/Documents/shcat/stdme/vendor/"
    - "-I/home/rparodi/Documents/shcat/stdme/output/include/"
    - "-I/home/rparodi/Documents/shcat/stdme/generic_sources/header/"
    - "-I/home/rparodi/Documents/shcat/includes/"
    - "-I/home/rparodi/Documents/shcat/output/include/"
    - "-I/home/rparodi/Documents/shcat/exec/src/arith/"
    - "-I/Users/raphael/Documents/shcat/vendor/"
    - "-I/Users/raphael/Documents/shcat/stdme/include/"
    - "-I/Users/raphael/Documents/shcat/allocator/include/"
    - "-I/Users/raphael/Documents/shcat/stdme/vendor/"
    - "-I/Users/raphael/Documents/shcat/stdme/output/include/"
    - "-I/Users/raphael/Documents/shcat/stdme/generic_sources/header/"
    - "-I/Users/raphael/Documents/shcat/includes/"
    - "-I/Users/raphael/Documents/shcat/output/include/"
    - "-I/Users/raphael/Documents/shcat/generic_sources/header/"
