CompileFlags: # Tweak the parse settings
  Compiler: clang
  Add:
    - "-xc"
    - "-I/nix/store/fwh4fxd747m0py3ib3s5abamia9nrf90-glibc-2.39-52-dev/include/"
    - "-I/nix/store/wxxgsgjxbnkkyczgf8lkbfrsqiywm8bi-clang-17.0.6-lib/lib/clang/17/include"
    - "-I/usr/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/allocator/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/vendor/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/stdme/generic_sources/header/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/includes/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/output/include/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/generic_sources/header/"
    - "-I/home/maiboyer/Documents/ring-2/shcat/exec/src/arith/"
    - "-I/home/nixos/shcat/vendor/"
    - "-I/home/nixos/shcat/stdme/include/"
    - "-I/home/nixos/shcat/allocator/include/"
    - "-I/home/nixos/shcat/stdme/vendor/"
    - "-I/home/nixos/shcat/stdme/output/include/"
    - "-I/home/nixos/shcat/stdme/generic_sources/header/"
    - "-I/home/nixos/shcat/includes/"
    - "-I/home/nixos/shcat/output/include/"
    - "-I/home/nixos/shcat/generic_sources/header/"
    - "-I/home/nixos/shcat/exec/src/arith/"
    - "-I/home/maix/school/shcat/vendor/"
    - "-I/home/maix/school/shcat/stdme/include/"
    - "-I/home/maix/school/shcat/allocator/include/"
    - "-I/home/maix/school/shcat/stdme/vendor/"
    - "-I/home/maix/school/shcat/stdme/output/include/"
    - "-I/home/maix/school/shcat/stdme/generic_sources/header/"
    - "-I/home/maix/school/shcat/includes/"
    - "-I/home/maix/school/shcat/output/include/"
    - "-I/home/maix/school/shcat/generic_sources/header/"
    - "-I/home/maix/school/shcat/exec/src/arith/"
    - "-I/home/raphael/42/shcat/vendor/"
    - "-I/home/raphael/42/shcat/stdme/include/"
    - "-I/home/raphael/42/shcat/allocator/include/"
    - "-I/home/raphael/42/shcat/stdme/vendor/"
    - "-I/home/raphael/42/shcat/stdme/output/include/"
    - "-I/home/raphael/42/shcat/stdme/generic_sources/header/"
    - "-I/home/raphael/42/shcat/includes/"
    - "-I/home/raphael/42/shcat/output/include/"
    - "-I/home/raphael/42/shcat/exec/src/arith/"
    - "-I/home/rparodi/Documents/shcat/vendor/"
    - "-I/home/rparodi/Documents/shcat/stdme/include/"
    - "-I/home/rparodi/Documents/shcat/allocator/include/"
    - "-I/home/rparodi/Documents/shcat/stdme/vendor/"
    - "-I/home/rparodi/Documents/shcat/stdme/output/include/"
    - "-I/home/rparodi/Documents/shcat/stdme/generic_sources/header/"
    - "-I/home/rparodi/Documents/shcat/includes/"
    - "-I/home/rparodi/Documents/shcat/output/include/"
    - "-I/home/rparodi/Documents/shcat/exec/src/arith/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/vendor/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/stdme/include/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/allocator/include/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/stdme/vendor/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/stdme/output/include/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/stdme/generic_sources/header/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/includes/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/output/include/"
    - "-I/Users/raphael/Documents/42/cursus/shcat/generic_sources/header/"
