# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
objects/
minishell
.envrc
.idea
parser/split_rust
.tree-sitter-sh/.editorconfig
.tree-sitter-sh/.gitattributes
.tree-sitter-sh/.gitignore
.tree-sitter-sh/Cargo.toml
.tree-sitter-sh/Makefile
.tree-sitter-sh/Package.swift
.tree-sitter-sh/a.out.js
.tree-sitter-sh/binding.gyp
.tree-sitter-sh/bindings/
.tree-sitter-sh/package-lock.json
.tree-sitter-sh/pyproject.toml
.tree-sitter-sh/setup.py
.tree-sitter-sh/src/grammar.json
.tree-sitter-sh/src/parser.c
.tree-sitter-sh/src/tree_sitter/
.tree-sitter-sh/src/node-types.json
.direnv
minishell_bonus
